html {
  font-size: 62.5%;
  box-sizing: border-box;
}

header {
  font-size: 3em;
  font-weight: 900;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Futura-T-OT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}


.grid-container {
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  grid-template-rows: 8rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;

}

a:hover {
  color: #ffa500;
}

header {
  grid-area: header;
  background-color: #131313;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 2rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #131313;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}


.sidebar {
  flex: 1 20rem;
}

.description {
  display: grid;

}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.products li {
  flex: 1 1 29rem;
  height: 35rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 20rem;
  width: 50rem;

}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 40px black solid;
  border-right: 40px black solid;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;

}

.product-price div {
  font-size: 2.1rem;
}

.button {
  padding: 1rem;
  background-color: #ffa500;
  color: white;
  cursor: pointer;
  font-weight: 900;
}

.button:hover {
  color: #000000;
}

.product__currency,
.product__code {
  padding: 0;
  margin: 0;

}

.product__currency {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}


.product__code {
  text-transform: uppercase;
  text-align: center;
  font-size: 7rem;
  font-weight: 900;
  color: orange;
  padding-bottom: 5rem;

}

.product__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 900;
}



.price {
  font-weight: 900;
  text-transform: uppercase;
}



.cart {
  padding: 1rem;
  margin-top: 1.6rem;

}

.cart-header {
  border-bottom: 0.5rem black solid;
  font-weight: 900;
  font-size: 2.6rem;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.4rem;
}



.cart-items_header,
.cart-items_currency,
.cart-items_code,
.cart-items_mid {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

span {
  font-weight: 900;
}

.cart-items_code {
  color: #ffa500;
  font-size: 3rem;
  font-weight: 900;
}

.cart-items_currency {
  font-size: 1.6rem;
  font-weight: 900;
}

.cart-items_description {
  line-height: 1.3rem;
}

.cart-items button {
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}